h1 {
    text-align: center;
    margin: 20px auto;
}

.top {
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.top .create-user-form {
    width: 48%;
    border: 1px solid #ddd;
}

.create-user-form #new-user-form {
    width: 80%;
    margin: auto;
}

.top #users-container {
    width: 48%;
    border: 1px solid #ddd;
    text-align: center;
}

#users-container .pages {
    text-align: center;
    width: 70%;
    margin: auto;
}

.create-user-form {
    width: 30%;
}

#users {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.single-user {
    box-shadow: 0 5px 7px #CCC;
    width: 25%;
    margin: 20px;
    transition: all 1s;
}

.single-user:hover {
    background: #DDD;
    cursor: pointer;
    transform: translateY(2px);
    box-shadow: 0 3px 3px #CCC;
}

.single-user div {
    font-size: 1.1rem;
    color: #222222;
    margin: 10px;
    padding: 5px;
}

#single-user-view-container {
    width: 95%;
    box-shadow: 0 4px 10px #DDD;
    border: 1px solid #EEE;
}

/*SINGLE USER STYLES*/
.top-side {
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}

.top-side .left-side, .top-side .right-side {
    width: 48%;
    border: 1px solid #CCC;
}

.more-options {
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}

.more-options > aside {
    border: 1px solid #CCC;
    padding: 15px;
    width: 48%;
}

.user-header {
    margin-top: 8px;
    text-align: center;
    text-transform: uppercase;

}

.user-info {
    padding: 5px;
    margin-left: 10px;
}

.user-info span {
    font-weight: bold;
}

.user-posts-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.single-post {
    padding: 15px;
    margin: 10px;
    border: 1px solid #eee;
    box-shadow: 1px 1px 5px #DDD;
}
